body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 3em;
  height: calc(100vh - 12em);
  overflow-y: scroll;
  justify-content: center;
  gap: 5em;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  border-radius: 1em;
  padding: 1em 2em 2em;
  border: 1px solid #A9927D50;
}

.container h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  letter-spacing: 0.225em;
  color: #A9927D;
  margin: auto;
  width: fit-content;
}

.container > div .fields {
  margin-top: 2.5em;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container > div .fields > div {
  display: flex;
  flex-direction: row;
  width: 25em;
  justify-content: space-between;
}

.container > div .fields > div label {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  color: rgba(57, 50, 50, 0.7);
  width: fit-content;
  flex-grow: 2;
  margin-top: 0.25em;
}

.container > div .fields > div label input,
.container > div .fields > div label textarea {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  color: rgba(16, 11, 0, 0.75);
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  margin-top: 0.25em;
  outline: none;
  margin-bottom: 0.25em;
  width: 100%;
}

.container > div .fields > div label textarea {
  height: 6em;
  font-weight: 500;
  font-family: 'Inter';
  font-size: 1em;
}

.container > div .fields > div .edit-btn {
    display: none;
    font-family: 'Inter';
    font-weight: 600;
    text-transform: uppercase;
    color: #3772FF;
    text-decoration: none;
    width: fit-content;
    padding: 1em;
    margin-left: 1em;
    border: none;
  background: none;
  font-size: 1em;
    cursor: pointer;
    height: fit-content;
}

.container > div .fields > div:hover .edit-btn {
  display: block;
}

.container > div .fields .avatar input[type='image'] {
  width: 3.75rem;
    border-radius: 50em;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.25);
    background: #00000050;
}

.container > div .privacy {
  font-family: 'Inter';
  color: rgba(57, 50, 50, 0.7);
  font-size: 0.65em;
  width: 25rem;
}