*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E9E3DE;
    height: 100%;
    width: 100%;
}

header{
    background-color: #393232E5;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header div a{
    text-decoration: none;
}

.logo{
    font-family: "Coolvetica";
    color: #E9E3DE;
    font-weight: lighter;
    font-size: 2em;
}

input[type=text]{
    border-radius: 12px;
    height: 3vh;
    width: 20vw;
    background-color: #6B625A;
    text-indent: 1rem;
}

input[type=text]::placeholder{
    color: #E9E3DE;
    font-weight: lighter;
    font-family: "Inter", "Coolvetica", "Comfortaa", "Roboto";
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
}

ul li{
    color: white;
    text-decoration: none;
}